@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@media only screen and (max-width: 1068px) {
  body .main-wrapper {
    margin: 0px;
    padding: 20px 58px; }
    body .main-wrapper .inner-wrapper {
      flex-direction: column;
      margin-top: 20px; }
      body .main-wrapper .inner-wrapper .left-wrapper, body .main-wrapper .inner-wrapper .right-wrapper {
        width: initial;
        padding: 0px; }
      body .main-wrapper .inner-wrapper .left-wrapper {
        border: 0px; }
      body .main-wrapper .inner-wrapper .right-wrapper {
        margin-top: 20px; }
    body .main-wrapper .button-wrapper {
      padding: 0px; } }

@media only screen and (max-width: 411px) {
  body .main-wrapper .input-holder {
    flex-direction: column; }
  body .main-wrapper .button-wrapper {
    padding: 0px; }
    body .main-wrapper .button-wrapper button {
      width: 100%; } }

html {
  color: #222;
  background-color: #f0ece9;
  font-size: 1em;
  line-height: 1.4; }

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #625e5b; }

.strong {
  font-weight: 500;
  letter-spacing: 0.4px; }

.spacing {
  margin-bottom: 7px;
  display: block;
  width: 100%; }

label {
  margin-top: 5px;
  display: block;
  width: 100%; }
  label .pink {
    font-weight: 600; }
  label .text {
    font-weight: 400;
    font-size: 12px;
    margin-left: 7px;
    color: #837e7a; }

input[type=text], textarea {
  width: 100%;
  border: 0px;
  padding: 15px; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  width: calc(100% - 30px); }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.nopadding {
  padding: 0; }

.nomargin {
  margin: 0; }

.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1069px;
  margin: 0 auto;
  margin-top: 76px;
  position: relative; }
  .main-wrapper .input-holder {
    display: flex;
    flex-direction: row; }
  .main-wrapper .inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 72px; }
    .main-wrapper .inner-wrapper .left-wrapper {
      border-right: 1px solid #ded9d6; }
      .main-wrapper .inner-wrapper .left-wrapper textarea {
        height: 233px; }
    .main-wrapper .inner-wrapper .right-wrapper textarea {
      height: 30px; }
    .main-wrapper .inner-wrapper .right-wrapper .section:first-of-type {
      padding-left: 5px; }
    .main-wrapper .inner-wrapper .right-wrapper .section:not(:last-of-type) {
      margin-bottom: 17px; }
    .main-wrapper .inner-wrapper .left-wrapper,
    .main-wrapper .inner-wrapper .right-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0px 58px;
      padding-top: 9px;
      padding-bottom: 14px;
      position: relative; }
  .main-wrapper h1 {
    text-transform: uppercase;
    max-width: 346px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    letter-spacing: 4px;
    position: relative;
    padding-bottom: 24px;
    margin: 0; }
    .main-wrapper h1::after {
      content: "";
      width: 50px;
      height: 1px;
      background-color: #AE006F;
      position: absolute;
      left: 0px;
      bottom: 0px; }
  .main-wrapper .button-wrapper {
    text-align: right;
    padding: 0px 58px; }
    .main-wrapper .button-wrapper button {
      text-shadow: 0px 0px 2px #000000;
      -webkit-box-shadow: 0px 0px 15px -5px black;
      -moz-box-shadow: 0px 0px 15px -5px black;
      box-shadow: 0px 0px 15px -5px black;
      margin-top: 42px;
      border: 0px;
      background-color: #b40064;
      color: #FFF;
      padding: 23px 31px;
      position: relative;
      letter-spacing: 2px; }
      .main-wrapper .button-wrapper button span.text {
        margin-right: 55px; }
      .main-wrapper .button-wrapper button span:not(.text) {
        font-size: 29px;
        position: absolute;
        right: 31px;
        top: 13px; }

.pink {
  color: #AE006F; }

.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #cac6c3; }

.container:hover input ~ .checkmark {
  background-color: #ccc; }

.container input:checked ~ .checkmark {
  background-color: #2196F3; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.container input:checked ~ .checkmark {
  background: initial; }

.container input:checked ~ .checkmark:after {
  background: #AE006F; }

.container .checkmark:after {
  display: block;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e8e4e1; }
